.traffic-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    background-color: grey; /* Color off */
    transition: opacity 0.3s; /* Change */
  }
  
  .circle-red {
    background-color: red;
  }
  
  .circle-orange {
    background-color: orange;
  }
  
  .circle-green {
    background-color: green;
  }
  
  .turn-on {
    opacity: 1; /* Luz on */
  }
  
  .circle:not(.turn-on) {
    opacity: 0.3; /* Luz off */
  }
  
